<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
           <li><a href="/idols">Idols</a></li>
           <li><a href="/idols/new">Add Idol</a></li>
           <li><a href="/cards">Cards</a></li>
           <li><a href="/cards/new">Add Card</a></li>
        </ul>
    </nav>
</header>