<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Card Keeper</a>
    <ul>
      <li><a href="/idols">Idols</a></li>
      <li><a href="/idols/new">Add Idol</a></li>
      <li><a href="/cards">Cards</a></li>
      <li><a href="/cards/new">Add Card</a></li>
    </ul>
  </nav>
</header>