<h2>Search Idols</h2>
<form action="/idols" method="GET">
    <div>
      <label>Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>

  <div>
    <button type="submit">Search</button>
  </div>
</form>
<br>
<% idols.forEach(idol => { %>
  <div>
    <div><%= idol.name %></div>
<% }) %>

