:root {
    --card-cover-width: 200px;
    --card-cover-width-large: 325px;
    --card-cover-aspect-ratio: 0.75;
  }

  .card-cover {
    width: var(--card-cover-width);
    height: calc(var(--card-cover-width) / var(--card-cover-aspect-ratio));
  }

  .card-cover-large {
    --card-cover-width: var(--card-cover-width-large);
  }

  .card-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--card-cover-width));
  }

  .card-grid-large {
    grid-template-columns: repeat(auto-fill, var(--card-cover-width-large));
  }

  .card-details {
    display: flex;
  }

  .card-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
  }

  .card-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
  }

  .card-details-btn-grid {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas:
      "edit delete"
      "idol idol";
    grid-gap: .5rem;
    margin-top: .5rem;
  }

  .card-details-idol-button {
    grid-area: idol;
    justify-self: stretch;
  }