<h2 class="page-header">Search Card</h2>
<form action="/cards" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Acquireed After</label>
      <input type="date" name="acquireedAfter" value="<%= searchOptions.acquireedAfter %>">
    </div>
    <div class="form-item">
      <label>Acquireed Before</label>
      <input type="date" name="acquireedBefore" value="<%= searchOptions.acquireedBefore %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<%- include('../partials/cardGrid', { cards: cards, large: true }) %>