<h2>New Card</h2>
<form action="/cards" method="post" enctype="multipart/form-data">
    <%- include('_form_fields')  %>
    <a href="/cards">Cancel</a>
    <button type="submit">Create</button>
</form>